# Bus pirate v3
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="0666", SYMLINK+="buspirate"
# Bus pirate v4
ATTRS{idVendor}=="04d8", ATTRS{idProduct}=="fb00", MODE="0666", SYMLINK+="buspirate"

